/* src/App.css */
.container {
  width: 50%;
}

body {
  background-color: #000000;
}

/* Стили для текстового поля */
input {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
}

/* Стили при фокусе (при активации текстового поля) */
input:focus {
  border-color: #007bff; /* Смена цвета рамки при фокусе */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Эффект тени при фокусе */
}
